body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#bannerAzul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #004000;
}

.cabecera {
    position: relative;
    margin: 10px auto;
    width: 1150px;
    /*background-color: rgba(221, 231, 241, 0.103);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera h3 {
    font-size: 25px;
    margin-top: 13px;
    margin-right: 280px;
    color: white;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.confirmation {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.confirmation h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.confirmation p {
    color: #666;
    font-size: 16px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #004000;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10%; 
    width: 100%;
    background-color: #d1d1d1; /* Fondo gris clarito */
    color: green; /* Color azul para el texto y los enlaces */
    text-align: center;
    padding: 20px;
    box-sizing: border-box; /* Incluir el padding en el ancho total */
    z-index: 1000; /* Ajustar el z-index según la necesidad */
}

.footer a {
    color: green; /* Color azul para los enlaces */
    text-decoration: none;
    margin: 0 10px; /* Márgenes entre los enlaces */
}