* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
    font-family: "Arial", sans-serif;
}

#bannerAzul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #004000;
}

.cabecera {
    position: relative;
    margin: 10px auto;
    width: 1150px;
    /*background-color: rgba(221, 231, 241, 0.103);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera h3 {
    font-size: 25px;
    margin-top: 13px;
    margin-right: 280px;
    color: white;
}

#EUR {
    margin-right: 20px;
}

.iconosInicioSesion {
    text-align: center;
}

#icono1,
#icono2 {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.cabecera p {
    color: white;
    font-size: 18px;
    margin-right: 15px;
}

.inicioSesion {
    background-color: white;
    color: #004000;
    font-size: 15px;
    width: 150px;
    height: 40px;
    margin: 10px 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.container {
    position: relative;
    margin: 175px auto;
    margin-top: 110px;
    width: 800px;
    padding: 20px;
    /*background-color: rgb(255, 164, 136);*/
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

input,
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 40px;
}

textarea {
    height: 80px;
}

.container p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.instalaciones {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-option {
    margin-right: 20px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.checkbox-option label {
    margin-left: 10px;
}

.instalaciones input {
    transform: scale(1.5);
}

#nuevaHabitacion,
#guardarCambios {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

#nuevaHabitacion {
    background-color: white;
    border: 1px solid rgb(113, 113, 113);
    color: black;
    margin-bottom: 10px;
}

#guardarCambios {
    background-color: #004000;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10%; 
    width: 100%;
    background-color: #d1d1d1; /* Fondo gris clarito */
    color: green; /* Color azul para el texto y los enlaces */
    text-align: center;
    padding: 20px;
    box-sizing: border-box; /* Incluir el padding en el ancho total */
    z-index: 1000; /* Ajustar el z-index según la necesidad */
}

.footer a {
    color: green; /* Color azul para los enlaces */
    text-decoration: none;
    margin: 0 10px; /* Márgenes entre los enlaces */
}


/* Estilos para la tabla */

#habitaciones {
    width: 90%;
    border-collapse: collapse;
    margin-left: 30px;
    margin-bottom: 40px;
}


/* Estilos para las celdas de la tabla */

#habitaciones th,
#habitaciones td {
    border: 1px solid black;
    padding: 8px;
}


/* Estilos para la primera fila de la tabla (cabecera) */

#habitaciones th {
    background-color: #f2f2f2;
    text-align: left;
}


/* Estilos para las filas impares de la tabla */

#habitaciones tr:nth-child(odd) {
    background-color: #ffffff;
}

#habitaciones img {
    display: block;
    margin: 0 auto;
}