* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
    font-family: "Arial", sans-serif;
}

#bannerAzul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-color: green;
}

.cabecera {
    position: relative;
    margin: 10px auto;
    width: 1150px;
    /*background-color: rgba(221, 231, 241, 0.103);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera h3 {
    font-size: 25px;
    margin-right: 280px;
    color: white;
}

#EUR {
    margin-right: 20px;
}

.iconosInicioSesion {
    text-align: center;
}

#icono1,
#icono2 {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.cabecera p {
    color: white;
    font-size: 18px;
    margin-right: 15px;
}

.inicioSesion {
    background-color: white;
    color: #004000;
    font-size: 15px;
    width: 150px;
    height: 40px;
    margin: 10px 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.botones-container {
    position: relative;
    margin: 10px auto;
    width: 1150px;
    /*background-color: rgba(221, 231, 241, 0.103);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton {
    background-color: transparent;
    border: 2px solid transparent;
    color: white;
    font-size: 15px;
    height: 50px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    display: flex;
    align-items: center;
}


/* Estilos cuando el botón está activado */

.boton.activado {
    background-color: rgba(255, 255, 255, 0.1);
    /* Azul más claro al hacer clic */
    border: 2px solid white;
    border-radius: 20px;
}

.iconoBotones {
    margin-right: 10px;
    width: 25px;
    height: 22px;
    fill: white;
}

#rutaNavegacion {
    margin-top: 0px;
}

.container {
    position: relative;
    margin: 175px auto;
    width: 1150px;
    /*background-color: rgb(255, 164, 136);*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sections {
    display: flex;
    margin-top: 10px;
    /* Ajusta según sea necesario */
}

.left-section {
    width: 300px;
    height: 820px;
    /*background-color: #53fa53;*/
    margin-right: 10px;
    align-self: flex-start;
    box-sizing: border-box;
}

.top-div {
    width: 100%;
    height: 6%;
    background-color: rgb(215, 228, 236);
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 13px 10px;
    font-size: 18px;
    color: rgb(15, 85, 128);
}

.top-div img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 25px;
    vertical-align: middle;
}

.medium-div {
    width: 100%;
    height: 70%;
    background-color: rgb(255, 196, 2);
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    /* Bordes redondeados */
}

.bottom-div {
    width: 100%;
    height: 22%;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    overflow: hidden;
}

.right-section {
    flex: 1;
    width: 839px;
    height: 823px;
    /*background-color: #4e0e0c;*/
    box-sizing: border-box;
}

#tituloMedium {
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
}

.especificacionesBuscar {
    font-size: 15px;
    font-weight: lighter;
}

.filtrosBuscar {
    margin: 5px 20px;
    width: 255px;
    height: 45px;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px 10px;
}

.filtrosBuscar img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.checkbox-filtros {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: -25px; /* Ajusta este valor según sea necesario */
    /* Adjust the margin-bottom as needed */
}

.checkbox-filtros img {
    width: 20px;
    height: 20px;
    margin-left: 12px;
}

#interrogacion {
    width: 20px;
    height: 20px;
    margin-left: 107px;
}

.checkbox-filtros p {
    margin-left: 5px;
    font-size: 15px;
}

#search-button {
    background-color: green;
    color: white;
    font-size: 20px;
    width: 255px;
    height: 60px;
    margin: 30px 20px;
    border: none;
    cursor: pointer;
}

#ver-mapa-button {
    width: 130px;
    height: 42px;
    position: absolute;
    margin-top: 100px;
    margin-left: 80px;
    background-color: green;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.bottom-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vistaGeneral {
    display: flex;
    font-size: 17px;
}

.vistaGeneral p {
    margin-right: 20px;
}

.separador-linea {
    width: 100%;
    height: 1px;
    background-color: rgba(204, 204, 204, 0.564);
    margin-bottom: 5px;
    margin-top: 30px;
    align-items: center;
}

.estrellas {
    display: flex;
    width: 100%;
    height: 50px;
    /*background-color: #a8e476;*/
}

.estrellas img {
    width: 40px; /* O el tamaño deseado */
    height: auto;
}

#valoracionEstellas {
    width: 370px;
    height: 31px;
    margin-right: 158px;
}

#corazon {
    width: 70px;
    height: 40px;
}

#reservarAhora {
    background-color: green;
    color: white;
    font-size: 21px;
    width: 230px;
    height: 50px;
    margin-left: 70px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.tituloAlojamiento {
    display: flex;
    width: 100%;
    height: 60px;
    /*background-color: blueviolet;*/
}

.tituloAlojamiento {
    display: flex;
    align-items: center;
}

.etiqueta {
    width: 350px;
    height: 100%;
    /*background-color: chocolate;*/
    box-sizing: border-box;
    overflow: hidden;
    padding: 13px 10px;
    font-size: 18px;
    color: #004000;
}

.etiqueta img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 72px;
    vertical-align: middle;
}

#nombreAlojamiento {
    font-size: 30px;
    font-weight: bold;
}

#ubicacion {
    font-size: 16px;
    margin-left: 20px;
    margin-top: -25px;
}

#ubicacionSimbolo {
    margin-left: -8px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.imagenes {
    margin-top: 10px;
    width: 100%;
    height: 619px;
    /*background-color: #a8e476;*/
}

#imagen1 {
    width: 300px;
    height: 220px;
    /*background-color: darkgreen;*/
    margin-bottom: 10px;
    margin-right: 20px;
}

#imagen2 {
    width: 300px;
    height: 220px;
    /*background-color: darkgreen;*/
    margin-bottom: 10px;
    margin-right: 20px;
}

#imagen3 {
    width: 220px;
    height: 159px;
    /*background-color: darkgreen;*/
    margin-bottom: 10px;
}

#imagen4 {
    width: 185px;
    height: 159px;
    margin-left: 230px;
    margin-top: -169px;
    /*background-color: darkgreen;*/
    margin-bottom: 10px;
}

#imagen5 {
    width: 185px;
    height: 159px;
    margin-left: 425px;
    margin-top: -169px;
    /*background-color: darkgreen;*/
    margin-bottom: 10px;
}

#imagen6 {
    width: 220px;
    height: 159px;
    margin-left: 620px;
    margin-top: -169px;
    /*background-color: darkgreen;*/
    margin-bottom: 10px;
}

#imagen7 {
    width: 529px;
    height: 449px;
    margin-left: 310px;
    margin-top: -629px;
    /*background-color: darkgreen;*/
    margin-bottom: 15px;
}

.imagenAlojamiento {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.requisitosCliente {
    margin-top: 40px;
    width: 100%;
    height: 70px;
    /*background-color: darkmagenta;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.requisitosCliente2 {
    width: 100%;
    height: 70px;
    /*background-color: darkmagenta;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.requisito {
    background-color: white;
    height: 35px;
    margin: 5px;
    font-size: 17px;
    padding: 10px 15px;
    border: 1px solid rgb(113, 113, 113);
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
}

.requisito img {
    margin-right: 8px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.descripcionAlojamiento {
    width: 68%;
    height: 430px;
    /*background-color: tomato;*/
    margin-top: 25px;
    font-size: 17px;
}

.descripcionAlojamiento p {
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.462);
}

.marcaAlojamiento {
    width: 27%;
    height: 430px;
    /*background-color: tomato;*/
    margin-top: 25px;
    margin-left: 840px;
    margin-top: -430px;
}

.marcaHotel {
    width: 100%;
    height: 82px;
    /*background-color: rgb(71, 255, 108);*/
    display: flex;
}

#cadenaHotel {
    width: 45%;
    height: 80px;
    border: 1px solid rgb(113, 113, 113);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

#cadenaHotel p {
    margin: 0px; /* Elimina el margen por defecto para evitar desbordamientos */
    font-size: 16px;
    font-weight: bold;
}

#logoHotel {
    width: 55%;
    height: 80px;
    /*background-color: yellow;*/
    border: 1px solid rgb(113, 113, 113);
}

#logoHotel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#puntosFuertes {
    width: 280px;
    height: 420px;
    background-color: rgba(147, 176, 235, 0.748);
    margin-top: 5px;
    padding: 15px;
}

#puntosFuertes h4 {
    margin-left: 15px;
}

#puntosFuertes p {
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.situado {
    margin-top: 15px;
    margin-bottom: 30px;
}

.situado img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#reservarAhora2 {
    background-color: green;
    color: white;
    margin-top: 25px;
    font-size: 18px;
    width: 280px;
    height: 45px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.serviciosPopulares {
    width: 59%;
    height: 230px;
    /*background-color: tomato;*/
    margin-top: 35px;
    font-size: 17px;
}

.serviciosPopulares p {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.requisitosPopulares {
    margin-bottom: -10px;
    width: 100%;
    height: 70px;
    /*background-color: darkgray;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.populares {
    background-color: white;
    height: 35px;
    margin: 5px;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
}

.populares img {
    margin-right: 8px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.ahorro {
    margin-top: 15px;
    width: 100%;
    height: 250px;
    /*background-color: tomato;*/
    display: flex;
}

.ofertas1 {
    width: 49%;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(113, 113, 113);
    display: flex;
}

.textoOferta {
    flex: 1;
    display: flex;
    padding: 30px 20px;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    /*background-color: violet;*/
}

.textoOferta p {
    margin-top: 15px;
    font-size: 17px;
}

.imagenOferta {
    width: 150px;
    height: 250px;
    /*background-color: violet;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 20px;
}

.imagenOferta img {
    width: 100%;
    height: auto;
}

.ofertas2 {
    margin-left: 17px;
    width: 49%;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(113, 113, 113);
    display: flex;
}

#decisionesSostenibles {
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: -10px;
}

.botonesVarios {
    margin-top: 20px;
    width: 95%;
    height: 50%;
    background-color: white;
    display: flex;
    align-items: center;
}

#iniciaSesion {
    height: 60px;
    width: 160px;
    background-color: white;
    color: #004000;
    border: 2px solid #004000;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

#hazteCuenta {
    color: green;
    margin: 0;
    cursor: pointer;
}

#masInfo {
    height: 60px;
    width: 120px;
    background-color: white;
    color: #004000;
    border: 2px solid #004000;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.disponibilidad {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    /*background-color: tomato;*/
}

.nav-rectangle {
    margin-top: 15px;
    background-color: rgb(236, 158, 40);
    display: flex;
    width: 80%;
    height: 60px;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
}

.filter-option {
    background-color: white;
    flex: 1;
    width: 325px;
    height: 50px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-option img {
    margin-right: 8px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#search-button {
    background-color: green;
    color: white;
    font-size: 20px;
    width: 240px;
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: green;
    color: white;
}

th:nth-child(3) {
    background-color: green;
    /* Azul más oscuro para la cabecera de la columna 3 */
    color: white;
}

#columnaPersonas {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
}

th:nth-child(3),
td:nth-child(3) {
    width: 80px;
    /* Ancho específico para la columna Precio para 2 noches */
}

.listado {
    margin-top: 10px;
    font-weight: bold;
}

.listado2 {
    margin-top: 10px;
    color: green;
}

.footer {
    margin-top: 50px;
    background-color: #004000;
    height: 220px;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-text p {
    font-size: 17px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.782);
    margin-bottom: 7px;
}

#ahorraTiempo {
    margin-top: 35px;
    font-size: 25px;
}

.email-input {
    font-size: 18px;
    padding: 10px;
    width: 30%;
    height: 28px;
    margin-right: 10px;
    margin-top: 20px;
}

.subscribe-button {
    padding: 10px;
    height: 50px;
    width: 150px;
    font-size: 18px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.registroSesion {
    background-color: #004000;
    height: 40px;
    color: white;
    text-align: center;
    padding: 20px;
}

.registroSesion-button {
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.reservar-button {
    padding: 8px 16px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.comentariosClientes {
    margin-top: 20px;
    /*background-color: #1b3b94;*/
}

.comentario {
    margin-bottom: 20px;
    border: 1px solid rgb(113, 113, 113);
    padding: 10px;
    margin-top: 20px;
}

.comentario p {
    margin: 5px 0;
}

.comentario strong {
    font-weight: bold;
}

.comentario em {
    font-style: italic;
}

.dejarValoracion {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #1b3b94;*/
}

#valoracion-button {
    background-color: rgb(235, 162, 5);
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 5%;
    width: 300px;
    height: 50px;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
}

.registroDejarValoracion {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #1b3b94;*/
}

#registroValoracion-button {
    background-color: rgb(235, 162, 5);
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 5%;
    width: 330px;
    height: 50px;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}