<link rel="stylesheet" href="../css/editarHabitacion.css">

<div class="container">
	<form data-ng-submit="habitacion.functions.crearAccommodation()">
        <div class="input-group">
            <label for="nombreAlojamiento">Accommodation Name</label>
            <input type="text" id="nombreAlojamiento" name="name" placeholder="Enter the room name" data-ng-model="habitacion.accommodation.name" required>
        </div>

        <div class="input-group">
            <label for="descripcion">Room Description</label>
            <input type="text" id="description" name="description"  placeholder="Enter the address" data-ng-model="habitacion.accommodation.description" required>
        </div>

        <div class="input-group">
            <label for="precio">Price per Night</label>
            <input type="number" id="precio" name="price" placeholder="Enter the price per night" data-ng-model="habitacion.accommodation.price" required>
        </div>

        <div class="input-group">
            <label for="habitaciones">Number of Rooms</label>
            <input type="number" id="habitaciones" name="numAccommodations" placeholder="Enter the number of rooms" data-ng-model="habitacion.accommodation.numAccommodations" required>
        </div>

        <button id="guardarCambios" type="submit">Create Room</button>
    </form>
</div>

<div class="footer">
    <a href="#">About Booking.com</a>
    <a href="#">Customer Service</a>
    <a href="#">Terms and Conditions</a>
    <a href="#">Privacy and Cookies Policy</a>
    <a href="#">Manage Personalized Recommendations</a>
</div>
