<link rel="stylesheet" href="../css/style4.css">
<div class="container">
        <p id="rutaNavegacion"> España > Extremadura > Caceres > Resultados de la búsqueda</p>

        <div class="sections">
            <div class="left-section">
                <div class="top-div"><img src="../img/etiqueta.png" alt="Etiqueta"> Igualamos el precio</div>

                <div class="medium-div">
                    <p id="tituloMedium">Buscar</p>

                    <p class="especificacionesBuscar">Destino/Nombre del alojamiento:</p>
                    <div class="filtrosBuscar"><img src="../img/lupa.png" alt="Ícono de búsqueda"> Cáceres</div>
                    <p class="especificacionesBuscar">Fecha de entrada</p>

                    <div class="filtrosBuscar"><img src="../img/calendario.png" alt="Ícono de calendario">Lunes, 4 de marzo de 2024</div>
                    <p class="especificacionesBuscar">Fecha de salida</p>
                    <div class="filtrosBuscar"><img src="../img/calendario.png" alt="Ícono de calendario">Martes, 5 de marzo de 20...</div>
                    <p class="especificacionesBuscar">Estancia de 1 noche</p>
                    <div class="filtrosBuscar">2 adultos-0 niños-1 habitaci...</div>

                    <div class="checkbox-filtros">
                        <input type="checkbox" name="checkbox1" value="casas">
                        <p>Casas y apartamentos enteros</p>
                        <img src="../img/ayuda.png" alt="Ícono de ayuda">
                    </div>

                    <div class="checkbox-filtros">
                        <input type="checkbox" name="checkbox2" value="trabajo">
                        <p>Viajo por trabajo</p>
                        <img id="interrogacion" src="../img/ayuda.png" alt="Ícono de ayuda">
                    </div>

                    <button id="search-button">Buscar</button>

                </div>
                <div class="bottom-div">
                    <button id="ver-mapa-button">Ver en el mapa</button>
                    <img src="../img/mapa.jpg" alt="Mapa del lugar">
                </div>
            </div>
            <div class="right-section">
                <div class="vistaGeneral">
                    <p>Vista General</p>
                    <p>Info y precios</p>
                    <p>Servicios</p>
                    <p>Leeme</p>
                    <p>A tener en cuenta</p>
                    <p>Comentarios de clientes (4.637)</p>
                </div>
                <div class="separador-linea"></div>
                <div class="estrellas">
                    <img id="valoracionEstellas" src="../img/hojasEstrellas.JPG" alt="Valoración en estrellas">
                    <img id="corazon" src="../img/corazon.JPG" alt="Corazón">
                    <button id="reservarAhora">Reserva ahora</button>
                </div>
                <div class="tituloAlojamiento">
                    <p id="nombreAlojamiento">NH Collection Cáceres Palacio de Oquendo</p>
                    <div class="etiqueta"><img src="../img/etiqueta.png" alt="Etiqueta"> Igualamos el precio</div>
                </div>
                <img id="ubicacionSimbolo" src="../img/ubicacion.png" alt="Ícono de ubicación">
                <p id="ubicacion">Plaza de San Juan, 11, 10003 Cáceres, España - Ubicacion Excelente - Ver mapa</p>

                <div class="imagenes">
                    <div id="imagen1"><img class="imagenAlojamiento" src="../img/1a.jpg" alt="Imagen del alojamiento"></div>
                    <div id="imagen2"><img class="imagenAlojamiento" src="../img/2a.jpg" alt="Imagen del alojamiento"></div>
                    <div id="imagen3"><img class="imagenAlojamiento" src="../img/3a.jpg" alt="Imagen del alojamiento"></div>
                    <div id="imagen4"><img class="imagenAlojamiento" src="../img/4a.jpg" alt="Imagen del alojamiento"></div>
                    <div id="imagen5"><img class="imagenAlojamiento" src="../img/5a.jpg" alt="Imagen del alojamiento"></div>
                    <div id="imagen6"><img class="imagenAlojamiento" src="../img/6a.JPG" alt="Imagen del alojamiento"></div>
                    <div id="imagen7">
                        <img class="imagenAlojamiento" src="../img/7a.JPG" alt="Imagen del alojamiento">
                    </div>
                </div>
            </div>
        </div>
        <div class="requisitosCliente">
            <div class="requisito"><img src="../img/desayuno.png" alt="Desayuno"> Muy buen desayuno</div>
            <div class="requisito"><img src="../img/restaurante.png" alt="Restaurante">Restaurante</div>
            <div class="requisito"><img src="../img/mascotas.png" alt="Admite mascotas">Admite mascotas</div>
            <div class="requisito"><img src="../img/bañoPrivado.png" alt="Baño privado">Baño privado</div>
            <div class="requisito"><img src="../img/balcon.png" alt="Balcón">Balcon</div>
        </div>
        <div class="requisitosCliente2">
            <div class="requisito"><img src="../img/bañera.png" alt="Bañera"> Bañera</div>
            <div class="requisito"><img src="../img/wifi.png" alt="WiFi gratis">WiFi gratis</div>
            <div class="requisito"><img src="../img/aireAcondicionado.png" alt="Aire Acondicionado">Aire Acondicionado</div>
            <div class="requisito"><img src="../img/vistas.png" alt="Vistas">Vistas</div>
            <div class="requisito"><img src="../img/gimnasio.png" alt="Gimnasio">Gimnasio</div>
        </div>
        <div class="descripcionAlojamiento">
            ¡Puedes conseguir un descuento Genius en NH Collection Cáceres Palacio de Oquendo! Para ahorrar en este alojamiento, solo tienes que iniciar sesión.<br><br> Este precioso palacio reconvertido del siglo XVI se encuentra en el centro histórico
            de Cáceres, junto a las antiguas murallas romanas y árabes de la ciudad. El alojamiento ofrece habitaciones elegantes con aire acondicionado, WiFi gratuita y acceso gratuito a la sala de fitness.<br><br> Las habitaciones del NH Collection
            Cáceres Palacio de Oquendo son amplias, presentan una decoración moderna y disponen de TV de 48 pulgadas, cafetera, hervidor eléctrico con infusiones gratuitas y carta de almohadas. También incluyen baño con ducha de efecto lluvia y secador
            de pelo profesional.<br><br> El restaurante del hotel alberga una terraza en la plaza de San Juan y sirve tapas locales tradicionales y especialidades clásicas españolas, así como cocina internacional. El bar ocupa las antiguas caballerizas
            y ofrece vistas a la plaza.<br><br> El alojamiento está situado a solo 100 metros del centro histórico de Cáceres, declarado Patrimonio de la Humanidad por la UNESCO, y de la iglesia de San Juan. El establecimiento se halla a 10 minutos a
            pie de la plaza de toros.<br><br> A las parejas les encanta la ubicación — Le han puesto un <strong>9,6</strong> para viajes de dos personas.

            <p>Las distancias en la descripción del alojamiento se calculan con OpenStreetMap©</p>
        </div>
        <div class="marcaAlojamiento">
            <div class="marcaHotel">
                <div id="cadenaHotel">
                    <p>Marca/cadena de hotel</p>
                    <p>NH Collection</p>
                </div>
                <div id="logoHotel">
                    <img src="../img/logoHotel.jpg" alt="Logo del Hotel NH Collection">
                </div>
            </div>
            <div id="puntosFuertes">
                <h3>Puntos fuertes del alojamiento</h3>
                <p>¡Ideal para estancias de 1 noche!</p>
                <div class="situado"><img src="../img/puntero.png" alt="Icono de puntero"> Situado en la zona mejor valorada de Caceres, este hotel tiene una excelente puntuación en ubicación (9,6).</div>
                <div class="situado"><img src="../img/alojamiento.png" alt="Icono de alojamiento">¿Quieres dormir a pierna suelta? Este hotel tiene una puntuación muy alta por la comodidad de sus camas.</div>
                <p>Informacion sobre el desayuno</p>
                Continental, Vegetariano, Vegano, Sin gluten, Americano, Buffet
                <button id="reservarAhora2">Reserva ahora</button>
            </div>
        </div>
        <div class="serviciosPopulares">
            <p>Servicios más populares</p>
            <div class="requisitosPopulares">
                <div class="populares"><img src="../img/sinHumo.png" alt="Icono de habitaciones sin humo">Habitaciones sin humo</div>
                <div class="populares"><img src="../img/gimnasio.png" alt="Icono de gimnasio">Gimnasio</div>
                <div class="populares"><img src="../img/servicio.png" alt="Icono de servicio de habitaciones">Servicio de habitaciones</div>
            </div>
            <div class="requisitosPopulares">
                <div class="populares"><img src="../img/restaurante.png" alt="Icono de restaurante">Restaurante</div>
                <div class="populares"><img src="../img/parking.png" alt="Icono de parking">Parking</div>
                <div class="populares"><img src="../img/wifi.png" alt="Icono de WiFi">WiFi</div>
                <div class="populares"><img src="../img/familiar.png" alt="Icono de habitaciones familiares">Habitaciones familiares</div>
            </div>
            <div class="requisitosPopulares">
                <div class="populares"><img src="../img/recepcion.png" alt="Icono de recepción 24 horas">Recepción 24 horas</div>
                <div class="populares"><img src="../img/bar.png" alt="Icono de bar">Bar</div>
                <div class="populares"><img src="../img/desayuno.png" alt="Icono de muy buen desayuno">Muy buen desayuno</div>
            </div>
        </div>
        <div class="separador-linea"></div>
        <div class="ahorro">
            <div class="ofertas1">
                <div class="textoOferta">
                    <h2>Inicia sesión y ahorra</h2>
                    <p>Podrías ahorrar un 10% o más en este alojamiento al iniciar sesión</p>
                    <div class="botonesVarios">
                        <button id="iniciaSesion">Inicia sesión</button>
                        <p id="hazteCuenta">Hazte una cuenta</p>
                    </div>
                </div>
                <div class="imagenOferta">
                    <img src="../img/regalo.jpeg" alt="Regalo de bienvenida al iniciar sesión">
                </div>
            </div>
            <div class="ofertas2">
                <div class="textoOferta">
                    <p id="decisionesSostenibles">Te ayudamos a tomar decisiones mas sostenibles</p>
                    <h2>Travel Sustainable Nivel 3+</h2>
                    <p>Al elegir este alojamiento, tu estancia será más sostenible.</p>
                    <div class="botonesVarios">
                        <button id="masInfo">Más info</button>
                    </div>
                </div>
                <div class="imagenOferta">
                    <img src="../img/sustainable.jpeg" alt="Certificación Travel Sustainable Nivel 3+">
                </div>
            </div>
        </div>
        
        <div class= disponibilidad data-ng-controller="controladorListaAccommodations as listAccommodations">
	        <div class="disponibilidad">
	            <h2>Disponibilidad</h2>
	            <div class="nav-rectangle">
	                <div class="filter-option"><img src="../img/calendario.png" alt="Calendario">vie, 26 ene - dom, 28 ene</div>
	                <div class="filter-option"><img src="../img/usuario.png" alt="Icono de usuario">2 adultos - 0 niños - 1 habitación</div>
	                <button id="search-button">Modificar búsqueda</button>
	            </div>
	            <table>
	                <thead>
	                    <tr>
	                        <th>Tipo de habitación</th>
	                        <th>Descripcion</th>
	                        <th>Precio</th>
	                        <th>Tus opciones</th>
	                        <th>Numero de habitaciones</th>
	                        <th></th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr data-ng-repeat="accommodation in accommodations">
	                        <td>{{accommodation.name}}</td>
	                        <td>{{accommodation.description}}</td>
	                        <td>${{accommodation.price}}</td>
	                        <td>
	                            <p>Desayuno muy bueno por € 20</p>
	                            <p class="listado">· No reembolsable</p>
	                            <p class="listado">· Pagas por adelantado</p>
	                        </td>
	                         <td>
						        <form name="reservationForm{{$index}}">
						            <input type="number" name="numSelected" data-ng-model="accommodation.numSelected" min="1" max="{{accommodation.numAccommodations}}" data-ng-init="accommodation.numSelected = 1" required>
						            <div data-ng-show="reservationForm{{$index}}.numSelected.$invalid && reservationForm{{$index}}.numSelected.$touched">
						                <div class="error-message">¡Seleccione un número entre 1 y {{accommodation.numAccommodations}}!</div>
						            </div>
						        </form>
						    </td>
	                        <td>
		                        <div class="dejarValoracion" data-ng-show="isLoggedIn">
						            <button class="reservar-button" type="button" data-ng-click="redirectPagoReserva(accommodation)" data-ng-disabled="reservationForm{{$index}}.numSelected.$invalid">Reservar</button>
						        </div>
						        <div class="registroDejarValoracion" data-ng-show="!isLoggedIn">
						            <a href="../RegistroServlet.do"><button class="reservar-button" type="submit">Regístrate</button></a>
						        </div>
	                        </td>
	                    </tr>
	                    <tr data-ng-if="accommodations.length === 0">
			                <td colspan="6">Aún no hay alojamientos disponibles para esta propiedad.</td>
			            </tr>
	                </tbody>
	            </table>
	        </div>
	        <div class="comentariosClientes" >
	            <h2>Valoraciones</h2>
	            <div data-ng-if="reviews.length > 0">
		            <div class="comentario" data-ng-repeat="review in reviews">
		                <div class="valoracion">
		                    <h3><span>{{review.review}}</span> <span class="valoracion-numero">{{review.grade}}</span></h3>
		                    <div class="estrellas">
	                        <span data-ng-repeat="star in [].constructor(review.grade) track by $index">
	                            <img src="../img/star_filled.png" alt="Estrella llena">
	                        </span>
	                    	</div>
		                </div>
		                <p class="comentario-texto">Buen sitio, buena ubicación y habitaciones cómodas. El desayuno también es muy bueno. Definitivamente lo recomendaría.</p>
		                <p class="usuario">- {{users[review.idu].name}}</p>
		            </div>
		         </div>
				<div data-ng-if="reviews.length === 0">
		            <p>Aún no hay comentarios sobre este alojamiento.</p>
		        </div>
	      </div>
	
	        <div class="dejarValoracion" data-ng-show="isLoggedIn">
			    <button id="valoracion-button" type="button" data-ng-click="redirectDejarValoracion()">¡Valora tu experiencia!</button>
			</div>
		
		    <div class="registroDejarValoracion" data-ng-show="!isLoggedIn">
		        <button id="registroValoracion-button">¡Regístrate y deja una valoración!</button>
		    </div>
	</div>
</div>

    <div class="footer">
        <div class="footer-text">
            <p id="ahorraTiempo">¡Ahorra tiempo y dinero!</p>
            <p>Regístrate y te enviamos las mejores ofertas para ti.</p>
        </div>

        <form>
            <input type="email" class="email-input" placeholder="Tu dirección de e-mail">
            <button type="submit" class="subscribe-button">¡Suscríbete!</button>
        </form>
    </div>

    <div class="registroSesion">
        <button class="registroSesion-button">Registra tu alojamiento</button>
    </div>

    <script>
        function activarBoton(boton) {

            // Desactivar todos los botones
            let botones = document.querySelectorAll('.boton');
            botones.forEach(b => b.classList.remove('activado'));

            // Activar el botón clicado
            boton.classList.add('activado');
        }
        document.getElementById('masInfo').addEventListener('click', function() {
            // Redirige a la página index5.html
            window.location.href = 'index5.html';
        });
    </script>