<link rel="stylesheet" href="../css/nuevoAlojamiento.css">

<div class="container">
    <form data-ng-submit="alojamiento.functions.crearProperty()">
        <div class="input-group">
            <label for="nombreAlojamiento">Accommodation Name</label>
            <input type="text" id="nombreAlojamiento" placeholder="Enter the name" data-ng-model="alojamiento.property.name" required>
        </div>
        
        <div class="input-group">
            <label for="direccion">City</label>
            <input type="text" id="city" name="city" placeholder="Enter the city" data-ng-model="alojamiento.property.city" required>
        </div>

        <div class="input-group">
            <label for="direccion">Address</label>
            <input type="text" id="direccion" placeholder="Enter the address" data-ng-model="alojamiento.property.address" required>
        </div>

        <div class="input-group">
            <label for="telefono">Telephone</label>
            <input type="tel" id="telefono" placeholder="Enter the telephone number" data-ng-model="alojamiento.property.telephone" required>
        </div>

        <div class="input-group">
            <label for="distanciaCentro">Distance to the Center (in km)</label>
            <input type="text" id="distanciaCentro" placeholder="Enter the distance" data-ng-model="alojamiento.property.centerDistance" required>
        </div>

        <div class="input-group">
            <label for="valoracion">Average Rating</label>
            <input type="text" id="valoracion" placeholder="Enter the rating" data-ng-model="alojamiento.property.gradesAverage" required>
        </div>

        <div class="input-group">
            <label for="descripcion">Description</label>
            <textarea id="descripcion" placeholder="Enter the description" data-ng-model="alojamiento.property.description" required></textarea>
        </div>

        <p>Services or facilities offered:</p>
        <div class="instalaciones">
            <div class="checkbox-option">
                <input type="checkbox" id="TV" name="TV" data-ng-model="alojamiento.property.TV" data-ng-true-value="1" data-ng-false-value="0">
                <label for="TV">TV</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="aireAcondicionado" name="aireAcondicionado" data-ng-model="alojamiento.property.aireAcondicionado" data-ng-true-value="1" data-ng-false-value="0">
                <label for="aireAcondicionado">Air Conditioning</label>
            </div>
        </div>

        <p>Availability:</p>
        <div class="instalaciones">
            <div class="checkbox-option">
                <input type="checkbox" id="disponible" name="disponible" data-ng-model="alojamiento.property.available" data-ng-true-value="1" data-ng-false-value="0">
                <label for="disponible">Available</label>
            </div>
        </div>

        <p>Pet Friendly?</p>
        <div class="instalaciones">
            <div class="checkbox-option">
                <input type="checkbox" id="mascotas" name="mascotas" data-ng-model="alojamiento.property.petFriendly" data-ng-true-value="1" data-ng-false-value="0">
                <label for="mascotas">Yes</label>
            </div>
        </div>

        <button type="submit">Create New Accommodation</button>
    </form>
</div>

<div class="footer">
    <a href="#">About Booking.com</a>
    <a href="#">Customer Service</a>
    <a href="#">Terms and Conditions</a>
    <a href="#">Privacy and Cookies Policy</a>
    <a href="#">Manage Personalized Recommendations</a>
</div>
