
<link rel="stylesheet" href="../css/perfilUsuario.css">
    <div id="login-container">
        <p class="login-message">PROFILE</p>
        
        <form data-ng-submit="perfil.functions.editarCuenta()">
        
	        <label for="nombre" class="form-label">Name</label>
	        <input type="text" id="name" class="form-input" data-ng-model="perfil.user.name" required>
	        
	        <label for="surname" class="form-label">Last Name</label>
	        <input type="text" id="surname" class="form-input" data-ng-model="perfil.user.surname" required>
	        
	        <label for="email" class="form-label">E-mail</label>
	        <input type="text" id="email" class="form-input" data-ng-model="perfil.user.email" required>
	        
	        <label for="contraseña" class="form-label">Password</label>
	        <input type="text" id="password" class="form-input" data-ng-model="perfil.user.password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\w).{8,}" required>
        	
        	<button class="button-editar" type="submit">Edit Profile</button>
        	
        </form>
        
        <form data-ng-submit="perfil.functions.cerrarSesion()">
				<button class="button-cerrar" type="submit">Log out</button>
			</form>
        

        <div class="separator"></div>
        <p class="disclaimer-text">When logging in or creating an account, you are accepting our <span class="link-text">Terms and conditions</span> and <span class="link-text">Privacy Policy</span>.</p>
        <div class="separator"></div>
        <p class="copyright-text">All rights reserved.</p>
        <p class="copyright-text">Copyright (2006-2024) - Booking.com</p>
    </div>